.aboutBack {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  background: #d9c4a9;
}

.about__row__align__main-flex {
  display: flex;
  flex-wrap: wrap;
}

.about__me {
  font-family: Iskry;
  color: #07203f;
  font-size: 80px;
}

.about__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.about__me-text {
  width: 700px;
  color: white;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.2em;
  font-weight: 100;
  margin-bottom: 20px;
  font-family: Helvetica;
}

.about__image__flexible {
  display: flex;
  align-items: flex-end;
  box-shadow: inset 0 0 0 2000px #dedcd1;
  opacity: 0.5;
}

.about__image {
  width: 400px;
  opacity: 0.8;
}

.about__text__field {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 400px;
}

.about__first-game {
  color: rgb(0, 0, 0);
  height: 50px;
  font-size: 35px;
  font-family: Iskry;
}

.about__description {
  color: #07203f;
  width: 175px;
  font-weight: 400;
  font-size: 23px;
  line-height: 150%;
  font-family: Juliana;
}

.columnTest {
  display: flex;
}


.about__image__fix {
  max-width: 20vh;
  max-height: 500px;
  margin-left: 50px;
  margin-right: 25px;
  object-fit: cover;
}

.about__fix {
  width: 20px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 499px) {
  .about__row__align__main-flex {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 15vh;
  }
  .about__image__fix {
    float: left;
    width: 20vh;
    height: 35vh;
    object-fit: cover;
    margin-left: 10px;
    margin-right: 25px;
    object-fit: cover;
  }
  .about__me {
    font-size: 60px;
    font-family: Iskry;
  }
  .about__description {
    font-size: 16px;
  }
  .aboutBack {
    height: 100%;
    padding-bottom: 150px;
  }
}

@media only screen and (min-width: 500px) {
  @media only screen and (max-width: 1799px) {
    .about__row__align__main-flex {
      justify-content: space-around;
      row-gap: 10vh;
    }
    .about__image__fix {
      max-width: 400px;
      width: 35vh;
      height: 60vh;
      object-fit: cover;
      margin-left: 10px;
      margin-right: 25px;
      object-fit: cover;
    }
    .aboutBack {
      height: 100%;
      padding-bottom: 150px;
    }
    .about__me {
      font-size: 80px;
      font-family: Iskry;
    }
  }
}

@media only screen and (min-width: 1800px) {
  @media only screen and (max-width: 1940px) {
    .about__row__align__main-flex {
      justify-content: space-around;
      row-gap: 10vh;
    }
    .about__image__fix {
      max-width: 400px;
      width: 25vh;
      height: 60vh;
      margin-left: 10px;
      margin-right: 25px;
      object-fit: cover;
    }
    .aboutBack {
      height: 100vh;
      border: 0 !important;
    }
  }
}

/* @supports (-webkit-touch-callout: none) {
  .aboutBack {
    background-attachment: scroll;
    background-size: auto;
  }
} */
