.footer__content {
    color: black;
    text-align: left;
    font-family: Iskry;
    font-weight: 400;
    font-size: 50px;
    letter-spacing: 10px;
    margin-left: 20px;
}

@media screen and (max-width: 280px) {
    .footer__content {
        text-align: center;
        font-size: 4vh;
        max-width: 400px;
    }
   }

@media screen and (max-width: 490px) {
    .footer__content {
        text-align: center;
        font-size: 4vh;
    }
   }


