
.navbar__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 40px;
  font-family: Ariel;
  color: black;
  font-size: 25px;
  background-color: #f4f3ea;
  padding: 12px;
  z-index: 0;
}
.positionFixed {
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.clickable {
  cursor: pointer;
}

.navbar__image {
  width: 40vh;
}

.linksTest {
  display: flex;
  justify-content: space-around;
  width: 600px;
}

.positionFixed a {
  position: relative;
  text-decoration: none;
  color: black;
  padding: 0 10px;
}

.positionFixed a:after {
  content: "";
  position: absolute;
  background-color: rgb(17, 37, 93);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

a:hover::after {
    width: 100%;
}

@media only screen and (min-width: 100px) {
  @media only screen and (max-width: 490px) { 
    .navbar__container {
      justify-content: space-evenly;
      font-size: 12px;
      padding: 0px;
    }
    .navbar__image {
      width: 15vh;
    }
  }
}

@media only screen and (min-width: 491px) {
  @media only screen and (max-width: 700px) { 
    .navbar__container {
      justify-content: space-evenly;
      font-size: 12px;
      padding: 0px;
    }
    .navbar__image {
      width: 20vh;
    }
  }
}

@media screen and (max-width: 1000px) and (min-width: 601px) {
  .navbar__container {
    justify-content: space-between;
    font-size: 20px;
    padding: 0px;
  }
  .navbar__image {
    width: 30vh;
  }
}


@media screen and (max-width: 1600px) and (min-width: 1001px) {
  .navbar__container {
    font-size: 25px;
    padding: 0px;
  }
  .navbar__image {
    width: 30vh;
  }
}

@media screen and (max-width: 912px) and (min-width: 900px) {
  .navbar__section {
    font-size: 3vh;
  }
}
