@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Space+Grotesk:wght@300&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.title {
  font-family: Iskry;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: black;
  font-size: 72px;
  margin-bottom: 35px;
}

.pConfig {
  width: 500px;
  color: black;
  font-size: 20px;
  line-height: 180%;
  letter-spacing: 0.2em;
  font-weight: 100;
  margin-bottom: 90px;
  margin-left: 140px;
}

.swipeDown {
  color: white;
}

.home__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
  height: 91vh;
}

.home__content {
  background-color: #DEDCD1;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
    height: 100vh;
  box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.2);

}

@font-face {
  font-family: Iskry;
  src: url("../font/Iskry-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Juliana;
  src: url("../font/centaur-mt-std.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Ariel;
  src: url("../font/Sohne-Extraleicht.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


/* Iphone */
@media screen and (max-width: 766px) {
  .pConfig {
    margin-top: 5px;
    width: 200px;
    font-size: 12px;
    line-height: 25px;
    font-size: 11px;
    margin-left: 10px;
  }
  .title {
    font-size: 45px;
    width: 200px;
    margin-bottom: 5px;
  }
  .home__container {
    height: 89%;
  }
}

@media only screen and (min-width: 767px) {
  @media only screen and (max-width: 1940px) {
    .home__container {
      height: 92%;
    }
   
  }
}

@supports (-webkit-touch-callout: none) {
  .home__image {
    background-attachment: scroll;
    background-size: auto;
  }
}

@supports not (-webkit-touch-callout: none) {
  /* CSS for other than iOS devices */ 
}
